extends layout
 
 
block content
 
  ul
    li 
      a(href="#home1") home1
    li 
      - if (name)
          a(href='/user') #{name} 's link 
      - else if (name === "")
          a(href='#home2') NoName
      - else 
          a(href="#home2") OldLink    
        
          
    li(style="float:right")
      a(href='#home3',class="active") home2

  h1= title
  p Welcome to #{title}
  
  p  
    #container
      - if (name)
        p 
        |The name is set to:
        br
        i - #{name} -
      - else
        p  No name set!

  div(id="home1")
    div(id="returnMsg")
      p Returning: 
    div(id="returnPic")

    p Retrive picture
    div(id="returnPicNew")

  
  div(id="home2")
    

    h2 Name stuff
    div(id="Inputfields")
    form(method="POST", action="/users")
      
      p 
        | Name:
        br
        input(type="text", name="name9")
      p
        input(type="submit", value="Send name")

    p 
      | Recieved name: 
      br
      | #{name ?  name : ' fault -ain\'t no name there!'}
      h3 #{name}
    
  button(onclick='clickme()')  click
  p 
    | This is new (something): 
    br 
    i #{newthing}
  script.
    function clickme() {
      alert('The popup.... ')
    }

  div(id="home3")
    p
        span(id="errorMsg")
    div(class="video.wrap")
      video(autoplay="true", id="video")
          
    div(class="controller")
            
      button(id="snap")  Capture
                
            
        
    canvas(id="canvas",width="640", height="480")
        
    
 
  
  
