extends layout
 
 
block content
 
  ul
    li 
      a(href="#home1") home1
    li 
      a(href='#home2') #{name} 
    li(style="float:right")
      a(href='#home3',class="active") home2

  h1= title
  p Welcome to #{title}
  
  p  
    #container
      - if (name === 'testing')
        p The name is set!
      - else
        p  No name set!

  div(id="home1")
    div(id="returnMsg")
      p Returning: 
    div(id="returnPic")

    p Retrive picture
    div(id="returnPicNew")

  div(id="Inputfields")
    form(method="POST", action="/users")
      
      p Name
        input(type="text", name="name9")
      p
        input(type="submit", value="Add name")

  div(id="home2")
    

    h2 Name stuff
    h3= name
    p  This is 
      - if (name === 'testing')
          p #{name};
      - else
          p nobody - No name set!       
    button(onclick='clickme()')  click
    p This is new: #{something}
    script.
      function clickme() {
        alert('The name is: ' + name })
      }

  div(id="home3")
    p
        span(id="errorMsg")
    div(class="video.wrap")
      video(autoplay="true", id="video")
          
    div(class="controller")
            
      button(id="snap")  Capture
                
            
        
    canvas(id="canvas",width="640", height="480")
        
    
 
  
  
